<!DOCTYPE html>
<html lang="en">
<head>
  <title>Audrey Bourret</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="/lib/w3-theme-cyan.css">
</head>
<body>

<!-- This is the top bas -->
<div class="w3-bar w3-black">
  <a href="/" class="w3-bar-item w3-button">Home</a>
  <a href="/research" class="w3-bar-item w3-button">Research</a>
  <a href="/publications/index.html" class="w3-bar-item w3-button">Publications</a>
  <a href="/assets/files/CV.pdf" class="w3-bar-item w3-button">CV</a>
  <a href="/contact" class="w3-bar-item w3-button">Contact</a>
</div>

<div class="w3-container w3-cyan">
  <h1>{{ page.title }}</h1>
</div>

{{ content }}

</body>
</html>